<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.eatease_dev_1"
    android:installLocation="auto" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="22" />

    <uses-feature android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="22" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/pizza"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_maps"
            android:parentActivityName=".OrderActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.eatease_dev_1.OrderActivity" />
        </activity>
        <activity
            android:name=".StreetView"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_street_view"
            android:parentActivityName=".MapsActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.eatease_dev_1.MapsActivity" />
        </activity>
        <activity
            android:name=".LiteModeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_lite_mode"
            android:parentActivityName=".MapsActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.eatease_dev_1.MapsActivity" />
        </activity>
        <activity
            android:name=".IndoorMapActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_indoor_map"
            android:parentActivityName=".MapsActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.eatease_dev_1.MapsActivity" />
        </activity>
        <activity
            android:name=".GroundOverlay"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_ground_overlay"
            android:parentActivityName=".MapsActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.eatease_dev_1.MapsActivity" />
        </activity>
        <activity
            android:name=".PolygonActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_polygon"
            android:parentActivityName=".MapsActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.eatease_dev_1.MapsActivity" />
        </activity>
        <activity
            android:name=".HaloPolygonActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_halo_poygon"
            android:parentActivityName=".PolygonActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.eatease_dev_1.PolygonActivity" />
        </activity>
        <activity
            android:name=".CircleActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_circle"
            android:parentActivityName=".MapsActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.eatease_dev_1.MapsActivity" />
        </activity>
        <activity
            android:name=".PolyLine"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_poly_line"
            android:parentActivityName=".MapsActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.eatease_dev_1.MapsActivity" />
        </activity>
        <activity
            android:name=".HeatMapActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_heat_map"
            android:parentActivityName=".MapsActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.eatease_dev_1.MapsActivity" />
        </activity>
        <activity
            android:name=".MarkerClustering"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_marker_clustering"
            android:parentActivityName=".MapsActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.eatease_dev_1.MapsActivity" />
        </activity>
        <activity
            android:name=".LocationAwareness"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_location_awareness"
            android:parentActivityName=".MapsActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.eatease_dev_1.MapsActivity" />
        </activity>

        <service
            android:name=".FetchAddressIntentService"
            android:exported="false" />

        <activity
            android:name=".GeoFenceActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_geo_fence"
            android:parentActivityName=".LocationAwareness"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.eatease_dev_1.LocationAwareness" />
        </activity>
        <activity
            android:name=".DynamicFence"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_dynamic_fence"
            android:parentActivityName=".MapsActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.eatease_dev_1.MapsActivity" />
        </activity>
        <activity
            android:name=".OrderActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_order"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddItemActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_add_item"
            android:parentActivityName=".OrderActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.eatease_dev_1.OrderActivity" />
        </activity>
        <activity
            android:name=".DispalyItem"
            android:label="@string/title_activity_dispaly_item" >
        </activity>
    </application>

</manifest>
